.nav {
  display: flex;
  justify-content: space-between;
}

.bodypadding {
  padding-left: 15px;
  padding-right: 15px;
}

.frstnamediv {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.frstnamediv > input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  border: 1px solid rgb(143, 143, 143);
  outline: none;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
}
.emailpass {
  margin-top: 20px;
  display: grid;
  gap: 10px;
  justify-content: center;
  justify-items: center;
}
.emailpass > input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 328px;
  border: 1px solid rgb(143, 143, 143);
  outline: none;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
}
.accountcontainer {
  display: grid;
  margin: auto;
  justify-content: center;
  justify-items: center;
}
.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 328px;
  border: 1px solid rgb(143, 143, 143);
  outline: none;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
}

.countrydiv {
  display: grid;
}

.countrydiv > select {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 328px;
  border: 1px solid rgb(143, 143, 143);
  outline: none;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
}

.footer {
  width: 100%;
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
*{
  margin: 0;
  padding: 0;
}
#navbarOne{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#EEEEEE;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 100;
  position: sticky;
  top: 0px;
  padding: 10px;
}
.logo img {
width: 100px;
}
.searchInp{
display: flex;
border: 1px solid #3A98B9;
width: 50%;
justify-content: space-between;
align-items: center;
height: 50px;
padding: 0px 0px 0px 15px;
border-radius: 15px;
}
.searchInp input{
 font-size: 20px;
  width: 90%;
  border: none;
  outline: none;
  background: none;
}
.searchInp div{
  height: 100%;
  background-color: #3A98B9;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;
}
.login{
  /* border: 1px solid red; */
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbarTwo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
padding:0px 5%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#navbarTwo a{
text-decoration: none;
color: #3A98B9;
font-weight: bold;
}
