*{
    margin: 0px;
    padding: 0px;
}



#all-product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
    gap: 1%;
    margin-top: 20px;
    /* cursor: pointer; */
}

#all-product-section>div {
    box-shadow: rgba(54, 185, 241, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
   

}

#all-product-section>div>img {
    width: 100%;
    display: flex;
    margin: auto;
    padding-top: 8px;
}

#all-product-section p {
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 15px;

}

.cart-btn{
    display: block;
    margin: auto;
    padding: 8px 15px;
    cursor: pointer;
    background-color:  #3A98B9;
    color: black;
    border:1px solid rgb(10, 10, 10);
    border-radius: 5px;
    margin-top: 8px;
    font-weight: 600;
    margin-bottom: 8px;

}

.divsurround{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 3px solid purple; */
}

.cart-btn:hover{
    color:rgb(242, 241, 246);
    /* border:3px solid brown; */

}

/* large screen */
/* @media all and (min-width: 901px) and (max-width: 1024px) {
    #all-product-section {
        grid-template-columns: repeat( 1fr);
    }

} */

/* medium screens */
@media all and (min-width: 651px) and (max-width: 900px) {
    #all-product-section {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* small screens */
@media all and (min-width: 401px) and (max-width: 650px) {
    #all-product-section {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media all and (min-width: 300px) and (max-width: 400px) {
    #all-product-section {
        grid-template-columns: repeat(1, 1fr);
    }

}


/* //selct tags css below*/

#filterAndSortDiv{
    /* border: 2px solid black; */
    display: block;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}


.select {
    border-radius: 5px;
    outline: none;
    padding: 5px;
    margin-right:4px;
    cursor: pointer;
}








.btn1{
       
    /* margin:100px ; */
    /* position: absolute; */
    /* left:260px; */
    font-size: 25px;
    background: transparent;
    border: none;
    outline: none;

    
}

.btn1{
    /* color:rgb(230, 18, 18); */
    /* background-color: grey; */
    color: grey;
}
.heartdiv{
    display: flex;
    width: 95%;
   

    /* border: 4px solid rgb(237, 178, 18); */
    justify-content: space-between;
}


