#footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    

}
#footer p{
    color: rgb(103, 101, 101);
    margin: 10px 0px;
}
#three a{
    text-decoration: none;
    color: rgb(103, 101, 101);
    margin: 10px 0px;
}
#footer h4{
    color: rgb(115, 113, 113) ;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}
#three div{
    margin: 10px 0px; 
}
.lastpara{
    color: rgb(103, 101, 101) ;
    width: 93%;
    margin: auto;
    margin-top: 50px;
}