
*{
    margin: 0;
    padding: 0;
}
#navbarOne{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#EEEEEE;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 100;
    position: sticky;
    top: 0px;
    padding: 10px;
}
.logo img {

  width: 100px;
}
.searchInp{
display: flex;
border: 1px solid #3A98B9;
width: 50%;
justify-content: space-between;
align-items: center;
height: 50px;

 padding: 0px 0px 0px 15px;
 padding: 0px 0px 0px 15px; 

border-radius: 15px;
}
.searchInp input{
   font-size: 20px;
    width: 90%;
    border: none;
    outline: none;
    background: none;
}
.searchInp div{
    height: 100%;
    background-color: #3A98B9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
}
.login{
    /* border: 1px solid red; */
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#navbarTwo{
    display: flex;

    
    justify-content: space-around; 
    align-items: center;
    height: 70px;
padding:0px 5%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
position: sticky;
top: 70px;
margin-bottom: 20px;
background-color:white;
}
#navbarTwo a{
text-decoration: none;
color: #3A98B9;
font-weight: bold;
}
#navbarTwo a:hover{
background-color:rgb(236, 200, 108);

}
/* footer starts here */
#footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    

}
#footer p{
    color: rgb(103, 101, 101);
    margin: 10px 0px;
}
#three a{
    text-decoration: none;
    color: rgb(103, 101, 101);
    margin: 10px 0px;
}
#footer h4{
    color: rgb(115, 113, 113) ;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}
#three div{
    margin: 10px 0px; 
}
.lastpara{
    color: rgb(103, 101, 101) ;
    width: 93%;
    margin: auto;
    margin-top: 50px;
}

#scrollUpper{
    display: flex;
    
    align-items: center;
    width: 85%;
    margin: 30px auto;
   
}
#scrollUpper h2{
    border-left: 1px solid rgb(174, 168, 168) ;
    margin: 0px 20px 0px 20px;
    padding: 0px 0px 0px 20px;
}
#offer{
    display: flex;
    background-color: #feb887; 
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px;
}
#offer div{
    display: flex;
    align-items: center;
    
}
.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#circleimg{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
#circleimg div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#circleimg img{
    height: 150px;
    width: 150px;
}
#circleimg p{
    margin: 10px 0px;
    font-weight: bold;
    color: rgb(80, 79, 79);

}


#setwatch{
    width: 90%;
    margin: auto;
    
}
#setwatch img{
   
    width: 100%;
    margin: auto;
}
#setwatch h1{
    color:#781b19 ;
    
}
#setwatch div{
    position: absolute;
   left: 110px;
   top: 1500px;
   
}
#setwatch h1{
    margin: 0px 0px 25px 0px;
    font-size: 40px;
}
#cycle{
    display: flex;
    width: 90%;
    margin:30px auto;
    justify-content: space-between;
   color: green;
  
}
#cycle>div:nth-child(1){

font-size: 20px;
padding: 20px;
}
#cycle h2,p{
    margin: 10px 0px;
    
}
#cycle button{
    cursor: pointer;
      border: 1px solid green;
      padding: 10px;
     color: green;
     font-size: 20px;
  font-weight: bold;
}
#cycle button:hover{
    background-color: green;
    color: white;
}
.two{
   display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width:100%;
    margin: auto;
}
#carouseldiv{
    width: 90%;
    margin: 30px auto;
    /* background-color: #ecf1f2; */
}
.subdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subdiv3{
    display: flex;
}
.three1{
    background-color: #feb887;
    color: #781b19;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.three2{
    display: flex;
}
.three2 img{
    height: 350px;
    width: 350px;
}
#carosoldiv2{
    width: 90%;
    margin: auto;
    padding: 20px;
}
.three1 h1{
    margin: 10px;
    padding: 5px;
}
.threebtn{
    width: 35%;
    margin: auto;
    display: flex;
    cursor: pointer;
    background-color: #feb887;
    border: 1px solid #781b19;
    padding: 10px;
    color: #781b19;
  font-size: 20px;
 font-weight: bold;
}
.threebtn:hover{
    background-color: #781b19;
    color: white;
}
.three1 p{
    font-size: 25px;
    padding: 20px;
}

