
*{
    margin: 0;
    padding: 0;
   
}


#myform{
    /* background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%); */
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 35%;
    /* border: 3px solid black; */
    position: absolute;
    top: 60%;
    left: 50%;
    /* color: white; */
    transform: translate(-50%,-50%);
    

}

#selectCategory{
    padding: 15px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#hide{
    font-size:20px ;
    background-color: skyblue;
}
#electronics{
    font-size:20px ;
    background-color: skyblue;
}

#fashion{
    font-size:20px ;
    background-color: skyblue;
}

#inputbox{
    display: flex;
    padding: 10px 50px;
    margin-bottom: 5px;
    flex-direction: column;
    /* color: white; */
   
   
}

#inputbox input{
    padding: 14px;
    margin-bottom: 10px;
    outline: none;
    background: transparent;
    border-radius: 18px;
    font-size: 16px;
    
   
    /* border: 0px; */
}
#submit{
    cursor: pointer;
}


